<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwConfigExceptions="false">
  <targets>
    <target xsi:type="File" name="logfile"
            fileName="${specialfolder:folder=LocalApplicationData}/SoeyiWinUI/logs/${shortdate}.log"
            layout="${level}: ${message}" keepFileOpen="false"
            archiveEvery="Day" maxArchiveFiles="3" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>


